@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');






.cd__intro,
.cd__credit {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #333;
  line-height: 1.5;
  text-align: center;
}

.cd__intro h1 {
  font-size: 18pt;
  padding-bottom: 15px;

}

.cd__intro p {
  font-size: 14px;
}

.cd__main {
  background: #fff;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.cd__main {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 1360px) {
  .cd__main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }
}



.booking-form {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background: #fff;
}

.cd__main {
  background-image:
                radial-gradient(at 30% 30%, hsla(46, 95%, 65%, 1) 0px, transparent 50%),
                radial-gradient(at 70% 30%, hsla(168, 85%, 65%, 1) 0px, transparent 50%),
                radial-gradient(at 30% 70%, hsla(290, 85%, 65%, 1) 0px, transparent 50%),
                radial-gradient(at 70% 70%, hsla(12, 85%, 65%, 1) 0px, transparent 50%);
            ;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
  padding: 0 12px;
}

button:hover {
  background: #333;
  transition-delay: 20ms;

}